<section class="form-page">

    <%# Product Logo & Name %>
    <%= render "shared/logo" %>

    <%# Form %>
    <div class="form-layout">
      <%# Heading %>
      <h1 class="form-header">Create an account</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="space-y-4 md:space-y-6">

          <%#   Validation Error Messages %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <%# Email field %>
          <div class="field">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, autocomplete: "email", placeholder:"name@company.com", class: "form-input" %>
          </div>

          <%# Time Zone %>
          <div class="field">
            <%= f.label :time_zone, class: "form-label" %>
            <%= f.select :time_zone, time_zones, {},  class: "form-input cursor-pointer" %>
            <em class="mt-1 text-sm font-thin text-primary-800 dark:text-primary-100">to deliver birthday reminders at your local time</em>
          </div>

          <%# Password %>
          <div class="field">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "••••••••", class: "form-input" %>
            <% if @minimum_password_length %>
              <em class="mt-1 text-sm font-thin text-primary-800 dark:text-primary-100">(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>

          <%# Password Confirmation %>
          <div class="field">
            <%= f.label :password_confirmation, class: "form-label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "••••••••", class: "form-input" %>
          </div>

          <%# Remember me %>
          <% if devise_mapping.rememberable? %>
            <div class="field flex items-center gap-3">
              <div class="flex items-center">
                <%= f.check_box :remember_me, class: "form-checkbox" %>
              </div>

              <%= f.label :remember_me, class: "text-sm sm:text-base md:text-lg font-light text-secondary-900 dark:text-secondary-100" %>
            </div>
          <% end %>

          <%# Submit %>
          <div class="actions">
            <%= f.submit "Create an account", data: { turbo_submits_with: "Creating..."}, class: "form-submit" %>
          </div>
        </div>
      <% end %>

      <hr class="divider">

      <%# Other resources %>
      <%= render "devise/shared/links" %>
    </div>
</section>