<turbo-frame id="<%= dom_id birthday_buddy %>" target= '_top'  class="flex justify-between items-center gap-4 md:gap-8">
  <%# Full Name %>
  <p class="w-full flex items-center justify-between gap-1">
    <span class="w-7/12 text-lg md:text-xl tracking-wider text-secondary-900 dark:text-secondary-200">
      <%= birthday_buddy.name.possessive %>
    </span>
    <span class="font-light dark:font-extralight italic text-sm md:text-base text-secondary-700 dark:text-secondary-400">
      In <%= time_ago_in_words(birthday_buddy.upcoming_gregorian_birthday_at_preferred_zone) %>
    </span>
  </p>

  <%# Show Modal %>
  <div>
    <button
      data-modal-toggle="<%= dom_id(birthday_buddy, "show") %>"
      data-action= "click->dialog#openShowModal"
      class="form-submit w-auto px-3 py-1.5 md:px-5"
    >
    Show
    </button>
  </div>

  <%= render "show_dialog", birthday_buddy: birthday_buddy %>
</turbo-frame>

