<%# Form %>
<%= form_with( model: buddy, data: { controller: "flatpickr"}, class: "grid gap-5" ) do |f| %>

  <div class="flex gap-5 ">
    <%# first_name field %>
    <%= f.text_field :first_name, placeholder: "First Name", class: "form-input" %>

    <%# last_name %>
    <%= f.text_field :last_name, placeholder: "Last Name", class: "form-input" %>
  </div>

  <div class="flex gap-5">
    <%# gregorian_birthday %>
    <%= f.date_field :gregorian_birthday, placeholder: "Date Of Birth",  class: "form-input gregorian-date" %>

    <%# Submit %>
    <%= f.submit "Create", data: {turbo_submits_with: "Creating..."}, class: "form-submit w-auto" %>
  </div>
<% end %>