<h1 class="font-semibold dark:font-medium text-2xl md:text-3xl text-center tracking-wide bg-gradient-text-clip mb-5 md:mb-8">Add new birthday buddy</h1>

<%# Validation Error Messages %>
<%= render "devise/shared/error_messages", resource: @birthday_buddy %>

<%# Form %>
<%= form_with( model: buddy, data: { controller: "flatpickr"}, class: "grid gap-5" ) do |f| %>

  <%# first_name & last_name field %>
  <%= f.text_field :name, placeholder: "Full Name", class: "form-input" %>

  <div class="flex gap-5">
    <%# gregorian_birthday %>
    <%= f.date_field :gregorian_birthday, placeholder: "Date Of Birth",  class: "form-input gregorian-date" %>

    <%# Submit %>
    <%= f.submit "Create", data: {turbo_submits_with: "Creating..."}, class: "form-submit w-auto" %>
  </div>
<% end %>