<%# Form %>
<section class="form-page">
  <div class="form-layout">

    <%# Heading %>
    <h1 class="form-header">Update Birthday Buddy</h1>

    <%= form_with(model: @birthday_buddy, data: { controller: "flatpickr"}) do |f| %>
      <div class="space-y-4 md:space-y-6">

        <%# Validation Error Messages %>
        <%= render "devise/shared/error_messages", resource: @birthday_buddy %>

        <%# First Name & Last Name %>
        <div class="field">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: "form-input" %>
        </div>

        <%# Gregorian Birthday %>
        <div class="field">
          <%= f.label :gregorian_birthday, class: "form-label" %>
          <%= f.date_field :gregorian_birthday, class: "form-input gregorian-date" %>
        </div>

        <%# Submit %>
        <div class="actions">
          <%= f.submit "Update", data: {turbo_submits_with: "Updating..."}, class: "form-submit" %>
        </div>
      </div>
    <% end %>

    <%# Back %>
    <%= render "shared/back" %>

    <%# divider %>
    <hr class="divider">

    <%# Cancel Account %>
    <div data-controller="dialog" class="flex justify-center">
      <button
        data-action="click->dialog#open"
        class= "form-submit-danger"
      >Delete Birthday Buddy</button>

      <%= render "/shared/destroy_dialog", destroy_path: birthday_buddy_path(@birthday_buddy), message: "Are you sure you want to delete your birthday buddy?" %>
    </div>
  </div>
</section>