<%# Form %>
<section class="form-layout mt-8 mb-14">
  <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

    <%# Heading %>
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">Update Birthday Buddy</h1>

    <%= form_with(model: @birthday_buddy, data: { controller: "flatpickr"}) do |f| %>
      <div class="space-y-4 md:space-y-6">

        <%# Validation Error Messages %>
        <%= render "devise/shared/error_messages", resource: @birthday_buddy %>

        <%# First Name & Last Name %>
        <div class="field">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: "form-input" %>
        </div>

        <%# Gregorian Birthday %>
        <div class="field">
          <%= f.label :gregorian_birthday, class: "form-label" %>
          <%= f.date_field :gregorian_birthday, class: "form-input gregorian-date" %>
        </div>

        <%# Submit %>
        <div class="actions">
          <%= f.submit "Update", data: {turbo_submits_with: "Updating..."}, class: "form-submit" %>
        </div>
      </div>
    <% end %>

    <%# Back %>
    <div class="flex justify-center">
      <%= link_to :back, class: "group flex items-center gap-1 text-primary-600 dark:text-primary-500" do %>
        <%= render "shared/svg/left_arrow" %>
        <span class="text-lg font-semibold tracking-wide group-hover:underline group-hover:underline-offset-4">Back</span>
      <% end %>
    </div>

    <%# divider %>
    <hr class="divider">

    <%# Cancel Account %>
    <div data-controller="dialog" class="flex justify-center">
      <button
        data-action="click->dialog#open"
        class= "py-2 px-4 text-lg font-bold text-center text-white bg-red-600 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 "
      >Delete</button>

      <%= render "/shared/destroy_dialog", destroy_path: birthday_buddy_path(@birthday_buddy), message: "Are you sure you want to delete your birthday buddy?" %>
    </div>
  </div>
</section>