<!DOCTYPE html>
<html>
  <head>
    <title>BirthdayThreads</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_orange.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <%# Favicon Ico %>
    <%= favicon_link_tag asset_path("favicon.ico") %>

    <%# Import Fonts from https://fonts.google.com/ %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%# Titillium & Nunito Sans Fonts (All Weights) %>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
  </head>

  <body class="font-sans dark:text-gray-300 bg-primary-50 dark:bg-gray-900 selection:bg-secondary-200 selection:text-primary-900 dark:selection:bg-primary-200 dark:selection:text-primary-800">
    <%#* Top Navbar for Medium or higher screen size %>
    <%= render "shared/top_navbar" %>

    <%= render "shared/flash" %>

    <main class="grid gap-10 lg:gap-16 justify-items-center p-5">
      <%= yield %>
    </main>

    <%#* Bottom Navbar for Mobile Screen %>
    <%= render "shared/bottom_navbar" %>
  </body>
</html>
